# Dataset file dont need to upload
/[Dd]ataset/
# Pycharm file dont need to upload
/.idea/
__pycache__/
/.DS_Store
/.gitignore
/.gitattributes
# Experiment file dont need to upload
/experiment_data/
/backup/
/dist/
/gapa.egg-info/
/build/
/gapa4/
/servers.json
/main.py
/tmp_test.py
/results/

/tests/
