{
    "servers": [
        {
            "id": "Server 32",
            "name": "32",
            "type": "linux",
            "protocol": "http",
            "ip": "192.168.44.32",
            "port": 4467
        },
        {
            "id": "Server 64",
            "name": "64",
            "type": "linux",
            "protocol": "http",
            "ip": "192.168.44.64",
            "port": 4467
        }
    ]
}