{
  "servers": [
    {
      "id": "node1",
      "name": "node1",
      "type": "linux",
      "protocol": "http",
      "ip": "127.0.0.1",
      "port": 1124
    },
    {
      "id": "node2",
      "name": "node2",
      "type": "linux",
      "protocol": "http",
      "ip": "127.0.0.1",
      "port": 1125
    }
  ]
}
